*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  main {
    width: 800px;
    margin: auto;
  }
}

@media (max-width: 699px) {
  main {
    margin: auto;
  }
}

.title {
  text-align: center;
  padding: 50px;
  font-family: cursive;
  font-size: 30pt;
}

h2 {
  text-align: center;
  margin: 50px;
  font-family: cursive;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.home {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.home a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: bold;
  position: relative;
  bottom: 50px;
  text-align: center;
}

.topic-box {
  margin: 50px;
}

.topics {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  list-style: none;
  padding: 0;
}

.unit {
  margin: 50px;
}

.wordline {
  font-size: 20pt;
}

.word {
  font-family: serif;
  font-weight: bold;
  font-size: 25pt;
}

.note {
  font-family: serif;
  font-size: 10pt;
  margin: 10px 30px 20px 35px;
}

@media (min-width: 600px) {
  .topics {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  .examples {
    font-size: 15pt;
  }
}

@media (max-width: 599px) {
  .topics {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  .examples {
    font-size: 10pt;
    padding-left: 0;
  }
}

.examples {
  font-family: sans-serif;
  overflow-wrap: break-word;
}

.examples li {
  padding-top: 5px;
  padding-bottom: 5px;
}
